

{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
<div class="well">
  <h1>{{ category.name }}</h1>

  <ul>
    {% for article in articles %}
      <li>
        <a href="{{ path('core_article', {'id': article.id}) }}">
          {{ article.name }}
        </a>
        par {{ article.author }},
        le {{ article.date|date('d/m/Y') }}
      </li>
    {% else %}
      <h2>Pas (encore !) d'articles dans cette catégorie</h2>
    {% endfor %}
  </ul>
</div>
{% endblock %}