<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container container-navbar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ path('core_homepage')}}" class="navbar-brand">A deux mains</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown clic">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-archive"></i> Catégories <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for category in categories %}
                            <li>
                              <a href="{{ path('core_category', {'id': category.id}) }}">
                                {{ category.name }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                    </li>
                    <li class="clic">
                        
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Recherche" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                        </li>
                </ul>
                <div class="navbar-right">
                    
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('core_add')}}">Poster un article</a></li>
                    <li class="dropdown clic">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Connexion<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">se Connecter</a></li>
                        </ul>
                        </li>

                    </ul>
                </div>
        </div>
    </nav>

{#<ul class="nav nav-pills nav-stacked">
  {% for category in categories %}
    <li>
      <a href="{{ path('core_category', {'id': category.id}) }}">
        {{ category.name }}
      </a>
    </li>
  {% endfor %}
</ul>#}