<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}A2Mains{% endblock %}</title>
    <link rel="shortcut icon" href="">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:900,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <style>body{padding-top:90px;}</style>
    {% endblock %}
</head>

<body>
  {{ render(controller("CoreBundle:Default:menu")) }}
    
    {% block bandeau %}
    {% endblock %}

    <div class="container">
    {% block body %}
    {% endblock %}
    </div>

    <div class="footer">
        <div class="row">
        <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
        <a href="#"><i class="fa fa-youtube-square fa-3x"></i></a>
        <h2> Nos partenaires : </h2>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="#"><img src="{{ app.request.basepath }}/img/castorama_logo.jpg" class="img img-thumbnail"></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="#"><img src="{{ app.request.basepath }}/img/cultura_logo2.png" class="img img-thumbnail"></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="#"><img src ="{{ app.request.basepath }}/img/logo_8598.jpg" class="img img-thumbnail"></a>
            </div>
        </div>
    </div>

    {% block javascripts %}
    <script src="{{ app.request.basepath }}/lib/jquery/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
        
</body> 
</html>